<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>数据页面列表</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="index-page">
    <div class="page">
      <div class="board board-list">
        <div class="board-header">
          <h1 class="index-title">数据页面列表</h1>
        </div>
        <div class="board-body">
          <ul class="page-list">
            {% for page in pages %}
            <li class="page-list-item">
              <a href="/{{ page.id }}" class="page-link">
                <span class="page-link-title">{{ page.title }}</span>
                <span class="page-link-id">{{ page.id }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
